[Unit]
Description=Slovobor personal REDIS

[Service]
Type=forking
Restart=always
RestartSec=5
TimeoutStartSec=10
TimeoutStopSec=15
User=slovobor.tktk.in
Group=www-data
UMask=002
WorkingDirectory=/home/slovobor.tktk.in/
PIDFile=/home/slovobor.tktk.in/_redis.pid
ExecStart=/usr/bin/redis-server /home/slovobor.tktk.in/server/redis.conf
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
Alias=slovobor-redis.service
WantedBy=default.target