[Unit]
Description=Slovobor Celery Service
Requires=slovobor-redis.service
After=slovobor-redis.service

[Service]
Type=forking
Restart=always
RestartSec=10
TimeoutStartSec=10
TimeoutStopSec=15
User=slovobor.tktk.in
Group=www-data
UMask=002
WorkingDirectory=/home/slovobor.tktk.in/slovobor/app/
PIDFile=/home/slovobor.tktk.in/_celery_worker.pid
Environment=SLOVOBOR_CONFIG_FILE=/home/slovobor.tktk.in/_config.json
Environment=DEBUG_LOG=/home/slovobor.tktk.in/_logs/celery_debug.log
ExecStart=/home/slovobor.tktk.in/_env/bin/python3 /home/slovobor.tktk.in/_env/bin/celery worker --app tgbot.tasks:app --detach --concurrency 1 --loglevel=info --logfile=/home/slovobor.tktk.in/_logs/celery_worker.log --pidfile=/home/slovobor.tktk.in/_celery_worker.pid --workdir /home/slovobor.tktk.in/slovobor/app
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
Alias=slovobor-celery.service
WantedBy=default.target
